---
import CounterApp from './CounterApp';
import '../../../styles/global.css';
---

<html data-theme="dark">
  <head>
    <title>Jotai GPU | "Counter" Example</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/jotai-gpu/favicon.svg" />
    <link rel="sitemap" href="/jotai-gpu/sitemap-index.xml" />
  </head>
  <body class="bg-[#131419] text-white">
    <CounterApp client:only="react" />
  </body>
</html>
