---
import CounterApp from './CounterApp';
import '../../../styles/global.css';
---

<html>
  <head>
    <title>Jotai GPU | "Counter" Example</title>
  </head>
  <body>
    <CounterApp client:only="react" />
  </body>
</html>
