---
import { Image } from 'astro:assets';
import '../styles/global.css';
import CounterGraph from '../components/CounterGraph.tsx';
import { Content } from '../content/homepage.mdx';
import SwmLogomarkSvg from '../assets/swm-logomark-dark.svg';
---

<html data-theme="dark">
  <head>
    <title>Jotai GPU</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/jotai-gpu/favicon.svg" />
    <link rel="sitemap" href="/jotai-gpu/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#131419] text-white">
    <header class="flex justify-center items-center">
      <h1 class="my-10 text-4xl font-afacad font-normal">
        Jōtai<span class="text-[#ab74f7]">GPU</span>
      </h1>
    </header>
    <main class="mb-64">
      <div class="mx-auto max-w-2xl text-white/80">
        <Content />
      </div>
      <CounterGraph client:only="react" />
    </main>
    <footer class="flex justify-center items-center py-4">
      <div class="flex items-center self-start gap-4 opacity-70">
        <Image src={SwmLogomarkSvg} alt="Software Mansion Logomark" />
        &copy; {new Date().getFullYear()} Software Mansion S.A.
      </div>
    </footer>
  </body>
</html>
