---
import { Image } from 'astro:assets';
import '../styles/global.css';
import JotaiGpuLogo from '../assets/jotaigpu-logo-dark.svg';
import CounterGraph from '../components/CounterGraph.tsx';
import { Content } from '../content/homepage.mdx';
---

<html data-theme="dark">
  <head>
    <title>
      JotaiGPU – declarative data graphs in TypeScript, spanning across your CPU
      and GPU
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/JotaiGPU/favicon.svg" />
    <link rel="sitemap" href="/JotaiGPU/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#131419] text-white">
    <header class="flex justify-center items-center my-12">
      <Image src={JotaiGpuLogo} alt="JotaiGPU Logo" height={64} />
    </header>
    <main class="mb-64">
      <div class="mx-auto max-w-2xl text-white/80 leading-6">
        <Content />
      </div>
      <CounterGraph client:only="react" />
    </main>
    <footer class="flex justify-center items-center py-4">
      <div class="flex items-center self-start gap-4 opacity-70">
        Iwo Plaza &copy; {new Date().getFullYear()}
      </div>
    </footer>
  </body>
</html>
